<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Table Page</title>
<script src="/library/jquery/dist/jquery.min.js"></script>
<script src="/library/socket.io-client/dist/socket.io.js"></script>
<script src="/static/javascripts/functions.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
</head>
<body>
<div id="login">
	<h1 class="title">What's your nickname?</h3>
	<input id="username" name="username" type="text" maxlength="14" />
	<button id="logsub">submit</button>
</div>

<div id="wait">
	<h1>Welcome!</h1>
	<h2>Please sit on the chair</h2>

	
</div>

<div id="game">
	<table id="record">
		<tr id="tname"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		<tr id="tseat"><td>Seat</td><td></td><td></td><td></td><td></td><td></td></tr>
		<tr id="tlevel"><td>Level</td><td></td><td></td><td></td><td></td><td></td></tr>
		<tr id="tscore"><td>Score</td><td></td><td></td><td></td><td></td><td></td></tr>
	</table>
	
	<h3 id="chairtitle">Chair</h3><h3 id="chair"></h3>
	<h3 id="sidetitle">Follower</h3><h3 id="side"></h3>
	<h3 id="mastersuittitle">MasterSuit</h3><h3 id="mastersuit"></h3>
	<h3 id="mastervaluetitle">MasterValue</h3><h3 id="mastervalue"></h3>
	<h3 id="picktitle">Pick</h3><div id="pick"><span id="pick1"></span><span id="pick2"></span></div>
	<h3 id="scoretitle">Game Score</h3><h3 id="score"></h3>
	<h1 id="message"></h1>
	
	<div id="playzone">
		<div id="play1" class="playarea"><p></p></div>
		<div id="play2" class="playarea"><p></p></div>
		<div id="play3" class="playarea"><p></p></div>
		<div id="play4" class="playarea"><p></p></div>
		<div id="play5" class="playarea"><p></p></div>
		<div id="trophy1" class="trophy"></div>
		<div id="trophy2" class="trophy"></div>
		<div id="trophy3" class="trophy"></div>
		<div id="trophy4" class="trophy"></div>
		<div id="trophy5" class="trophy"></div>
	</div>
	
	<h2 id="turn"><img src="/static/images/hourglass.gif" alt="hourglass"><br/><button id="next">Play</button></h2>
	<div id="hold"></div>
</div>

<script>
$('#play').hide();
$('#wait').hide();
$('#game').hide();
$('#turn').hide();
$('#next').hide();
var socket = io();
var Cards;
var ID;
var Name;
var Room = null;
var Seat = null;
var GameBegin = false;
var Side;
var Chair;
var Scores = {'1': 0, '2': 0, '3': 0, '4': 0, '5': 0};
var GameScore = 0;
var Round = {'win': null, 'winner': null, 'count': 0, 'suit': null, 'score': 0, 'dump': null};
var judge = false;
var select = [];
var restcard = false;
var dongcount = 0;
var jacked = false;
var masterSuit = null;
var masterValue = null;
var Level = {'1': null, '2': null, '3': null, '4': null, '5': null};
var hiddens = [];
var pick = [];
var count = 0;
var playtype = 'play';

//when user login, emit the username to server
//hide the login interface, show the game hall interface
//draw 14 tables and around each table draw 5 seat
$('#logsub').click(function() {
	socket.emit('login', {
		username: $('#username').val()
	});
	Name = $('#username').val();
	$('#login').hide();
	$('#wait').show();
	for (var i = 1; i < 15; i++) {
		$('#wait').append($('<div id="room' + i + '" class="room"></div>'));
		$('#room' + i).append($('<div class="tableArea"></div><div class="seat1"></div><div class="seat2"></div><div class="seat3"></div><div class="seat4"></div><div class="seat5"></div>'));
		draw_table('#room' + i + '>.tableArea');
		for (var j = 1; j < 6; j++) {
			draw_seat('#room' + i + '>.seat' + j);
		}
	}
});
//receive 'update state' signal, draw names on the seat if user has sat on the seat, clear seat if user has left the seat
//three conditions of table full: game not begin, user has sat down, all seat around the table user sitting is taken
//game begin and emit 'table full' signal to server with user's name, room and seat info
socket.on('update state', function(data) {
	update_state(data.name, data.room, data.seat);
	if (!GameBegin && Seat !== null && $('#' + Room).find('.seat').length === 0) {
		console.log('table full, ready to start game');
		GameBegin = true;
		socket.emit('table full', {
			name: Name,
			room: Room,
			seat: Seat
		});
	}
});
//when an unseated user clicks on an empty seat, he will sit on the seat, emit the name, room and seat info to server
$(document).on('click', '.seat', function() {
	if (Seat === null) {
		Seat = $(this).parent().attr('class').slice(-1);
		Room = $(this).parent().parent().attr('id');
		send_state(Name, Room, Seat);
	}
});
//when a seated user clicks on the exactly seat he is sitting on, he will leave the seat, emit the name, room and seat info to server
$(document).on('click', '.player', function() {
	if (Room === $(this).parent().parent().attr('id') && Seat === $(this).parent().attr('class').slice(-1)) {
		Seat = null;
		Room = null;
		send_state(Name, Room, Seat);
	}
});
//receive 'user info' signal, show chair name on #chair
//show name, level data on the user info table
//each user has his own play card zone with an id, seperated located on 5 positions on the desktop
//make sure in each user's interface, his own play card zone's id is play1, and others is play2 - play5 in sitting order
//own name doesn't show
socket.on('user info', function(data) {
    $('#chair').text(data.chairName);
    Object.keys(data.players).forEach(function(v) {
        $('#tname>td:nth-child(' + (parseInt(v) + 1) + ')').text(data.players[v]);
        $('#tseat>td:nth-child(' + (parseInt(v) + 1) + ')').text(v);
        $('#tlevel>td:nth-child(' + (parseInt(v) + 1) + ')').text(data.levels[v]);
        Level[v] = data.levels[v];
    });
    var s = Seat;
	for (var i = 1; i < 6; i++) {
        $('#play' + i).addClass(data.players[s]);
        $('#play' + i + '>p').text(data.players[s]);
        $('#trophy' + i).addClass('t' + data.players[s]);
        s = switch_turn(s);
        if (s === 0) {
            s = '5';
        }
	}
	$('#play1>p').text('');
});
//receive 'deals' from server, contains game info include playercards, chair, masterSuit, masterValue, side
//show the game info into corresponding areas
//setup Cards for this game using masterSuit and masterValue
//draw player cards in #hold area, in specific order, cards spread in certain distance
//new game, scores are all zero, listed in #score area, chair do not have score
//initite game parameters like GameScore, pick, jacked and hiddens
//chair send 'chair ready' signal to server
socket.on('deals', function(data) {
	console.log('deals received');
	console.log(data);
	$('#wait').hide();
	$('#game').show();
	Chair = data.chair.seat;
	masterSuit = data.master.suit;
	masterValue = data.master.value;
	Side = data.side;
	$('#mastersuit').text(masterSuit);
	$('#mastervalue').text(masterValue);
	$('#message').text('Wait for the chair to start');
	Cards = setup_cards(masterSuit, masterValue);
	create_select(data.playercards).Sort().reverse().forEach(function(v) {
		draw_card(v, '#hold', 'card');
	});
	overlap('.card');
	Scores = {'1': 0, '2': 0, '3': 0, '4': 0, '5': 0};
	GameScore = 0;
	pick = [];
	jacked = false;
	hiddens = [];
	$('#tscore>td').text(0);
	$('#tscore>td').first().text('Score');
	$('#tscore>td:nth-child(' + (parseInt(Chair) + 1) + ')').text('');
	if (Seat === Chair) {
		socket.emit('chair ready', {
			room: Room
		});
	}
});
//hide cards that already dealed
//receive 'bottom cards' from server, draw bottom cards in #bottom area, add a collect button, focus on it
//draw topcards as regular cards in #hold area, in certain order and distance
//hide cards and use duplicated topcards is because click directly on cards to choose hidden cards will contaminate click to play game
//click #collect, remove old topcards, add bottom cards into topcards, draw new topcards in new order and new distance.
//click on topcards will toggle selectHidden class to it, once select 7, #hide button will show, focused, if not 7, #hide button will hide
//click on #hide, save 7 hidden cards into hidden array, hide them as hidden cards, remove #hide button, cards show, remove hidden cards from cards, #pick show
//once chair pick a ally card, remove #pick selections, emit 'chair finished' to server
socket.on('bottom cards', function(data) {
	console.log('bottom cards received');
	console.log(data.topCards);	
	console.log(data.bottomCards);
	$('.card').hide();
	$('<div id="bottom"></div>').insertBefore($('#hold'));
    $('#bottom').append('<button id="collect">Collect</button><br/>');
    $('#collect').focus();
	data.bottomCards.forEach(function(v) {
		draw_card(v, '#bottom', 'bottomcard');
	});
	overlap('.bottomcard', true);
	create_select(data.topCards).Sort().reverse().forEach(function(v) {
		draw_card(v, '#hold', 'topcard');
	});
	overlap('.topcard');
	$('#message').text('Collect');
	$('#collect').click(function() {
		var topcards = data.topCards.concat(data.bottomCards);
		$('.topcard').remove();
		create_select(topcards).Sort().reverse().forEach(function(v) {
			draw_card(v, '#hold', 'topcard');
		});
		overlap('.topcard');
		$('#bottom').html('');
		$('#bottom').remove();
		$('#message').text('Choose 7 bottom cards');
		$('.topcard').click(function() {
			$(this).toggleClass('selectHidden');
			if ($('.selectHidden').length === 7) {
                $('<button id="hide">Hide</button>').insertBefore($('#hold'));
                $('#hide').focus();
				$('#message').text('Hide chosen bottom cards');
			} else {
				$('#hide').remove();
			}
			$('#hide').click(function() {
				$(this).remove();
				$('<button id="showbottom">Show</button><div id="hidden"></div>').insertAfter($('#hold'));
				$('#hidebottom').hide();
				$('.selectHidden').each(function() {
					hiddens.push($(this).attr('value'));
				});
				$('.selectHidden').remove();
				$('.topcard').remove();
				$('.card').show();
				console.log(hiddens);
				hiddens.forEach(function(v) {
					$('.card[value = ' + v + ']').first().remove();
				});
				overlap('.card');
				$('#message').text('Please pick an ally card');
				show_pick(masterSuit);
				$('#picked').click(function(){
					$('select option:selected').each(function(){
						pick.push($(this).attr('value'));
					});
					$('#pickally').remove();
					socket.emit('chair finished', {
						room: Room,
						pick: pick,
						hiddens: hiddens
					}); 
				});
			});			
		});
	});
});
//receive 'pick info' from server, save it into pick array, translate the data and show it on #pick area
socket.on('pick info', function(data) {
	pick = data.pick;
	var txt;
	if (data.pick[0] === '1') {
        txt = '1st ';
    } else if (data.pick[0] === '2') {
        txt = '2nd ';
    } else {
        txt = '3rd ';
    }					
	$('#pick>span').first().text(txt);
	$('<img id="picksuit" src="/static/images/' + data.pick[1] + '.png" alt="' + data.pick[1] + '" width="13px" height="15px">').insertAfter($('#pick>span').first());
	$('#pick>span').last().text(' ' + data.pick[2]);
});
//only chair has #showbottom button on his interface, click on it will show 7 hidden cards to the chair, in case he forgot what did he pick
//5 seconds later the hidden cards will automaticaly hide
$(document).on('click', '#showbottom', function() {
	hiddens.forEach(function(v) {
		draw_card(v, '#hidden', 'hiddencard');
	});
	overlap('.hiddencard', true);
	$('.hiddencard').show('slow');
	$('.hiddencard').fadeOut(5000, function() {
		$(this).remove();
	});
});
//receive 'turn' signal from server, remove old #timer first, hide #next button
//add a class with a random name like 'timer2967' to the #timer, in case different timer interferes each other
//a gif #turn, which is a hourglass, will show in a user's interface if it's his turn, hide if it's not, tell him it's his turn to play
socket.on('turn', function(data) {
	$('#timer').remove();
	$('#next').hide();
	timer('timer' + Math.floor((Math.random() * 10000) + 1));
	if (data.turn === Seat) {
		$('#turn').show();
	} else {
        $('#turn').hide();
    }
});
//when click on cards, toggle a 'selected' class to the card, save selected cards' value into a select array
//if round just begin, only have to validate the select has the same suit, if select is legal, #next button show and focus, if not, #next button hide
//if Round.count is not 0, means it's in the middle of a round, need to validate select is legal or not
//save the values of all the cards in the same suit with Round.suit into a hold array
// if playtype is regular play, use validate select, or if playtype is dump, use validate dump, validate result is judge
//judge = 1 means current play is the winplay, -1 means not, if judge is not number means select is not legal, and will give user a warning
//if judge is number, means select is legal, #next show and focus, and user can click it to play card
//if judge is not a number, means select is not legal, a warning will be given, and showed in #message area
$(document).on('click', '.card', function() {
	$(this).toggleClass('selected');
	select = [];
	$('.selected').each(function() { select.push($(this).attr('value')); });
	console.log('select: ' + select);
	if (Round.count === 0) {
		if (vali_same_suit(select)) {
			$('#next').show();
			$('#next').focus();
			judge = 1;
		} else {
            $('#next').hide();
        }
	} else {
		hold = [];
		$('.card').each(function() {
			if (create_card($(this).attr('value')).Suit() === Round.suit) {
				hold.push($(this).attr('value'));
			}
		});
		if (playtype === 'play') {
			judge = vali_select(select, Round.win, hold, Round.suit);
		} else {
			judge = vali_dump(select, Round.dump, Round.win, hold);
		}
		if (typeof judge === 'number') {
			$('#next').show();
			$('#next').focus();
		} else {
			$('#next').hide();
			$('#message').text(judge);
		}
	}
});
//click on #next button, emit 'next' signal to server with room and seat info, and #turn gif hide
//if it's round start and playtype is 'dump', emit 'testdump' to server to validate the dump is successful or not
//if it's not round start and playtype is 'dump', emit 'dump' to server with judge and other data
//else it's just regular play, emit 'play' to server with judge and other data
//remove selected cards, re-shape the cards, make them centered and adjust distance
$('#next').click(function() {
	socket.emit('next', {
		room: Room,
		seat: Seat
	});
	$('#turn').hide();
	if (create_select(select).Type() === 'dump' && Round.count === 0) {
		socket.emit('testdump', {
			room: Room,
			play: select,
			seat: Seat
		});
	} else if (Round.count > 0 && playtype === 'dump') {
		socket.emit('dump', {
			room: Room,
			play: select,
			judge: judge,
			seat: Seat,
			name: Name
		});
		$('.selected').remove();
		overlap('.card');
	} else {
		socket.emit('play', {
			room: Room,
			play: select,
			judge: judge,
			seat: Seat,
			name: Name
		});
		$('.selected').remove();
		overlap('.card');
	}
});
//receive 'validate dump' signal from server, put all same suit cards in hold array
//use challenge_dump() to see if the hold has card patterns which can beat testdump, restcard is the challenge result
//emit 'dong' to server, with data.origin(which is the socket.id of the origin testdump player), and the challenge result restcard
socket.on('validate dump', function(data) {
	console.log('a dump coming: ' + data.play);
	var hold = [];
	$('.card').each(function() {
		if (create_card($(this).attr('value')).Suit() === create_select(data.play).Suit()) {
			hold.push($(this).attr('value'));
		}
	});
	console.log('I have these cards in dump\'s suit: ' + hold);
	socket.emit('dong', {
		room: Room,
		origin: data.origin,
		restcard: challenge_dump(data.play, hold)
	});
});
//receive 'play coming' signal from server, first see if allycard was played, if so, side is decided, show it on the #side area
//draw played cards in playedcard area
//Round.count and Round.score recorded, and judge updated
//if Round.count is 1, means round has just started, Round.suit is the origin suit
//if judge > 1, current play is a winplay, set Round.win to current play, record the winner seat and winner name, remove #trophy, draw new #trophy to the winner's playcardarea
//if Round.count is 5, means round is about to end, have to record score
//if side has already been decided (Side.majority.length>0), if majority has won the round, add round score to GameScore, and show it in #score area, if minority has won, score is ignored
//if side has not been decided, add round score to round winner's personal score table, unless round winner is chair, in that case the score will be ignored
//when round ends, reset all parameters, all played cards fadeout in 8 seconds, trophy and next buttons are hidden, waiting for the next round start
//if there is still cards left, emit 'round end' to server to start the next round, round winner will have his turn
//if there is no cards left, emit 'game end' to server to wrap up the game
socket.on('play coming', function(data) {
	if (Side.majority.length === 0) {
		num = 0;
		data.play.forEach(function(v) { if (v === pick[1] + pick[2]) num++; });
		if (num > 0) {
			pick[0] -= num;
			if (pick[0] <= 0) {
				Side.minority.push(data.seat);
				['1','2','3','4','5'].forEach(function(v) { if (v !== Chair && v != data.seat) Side.majority.push(v); });
				Scores[data.seat] = 0;
				Side.majority.forEach(function(v) { GameScore += Scores[v]; });
				$('#score').text(GameScore);
				$('#message').text(data.name + ' has followed the chair');
				$('#side').text(data.name);
			}		
		}
	}
	data.play.forEach(function(v) {
		draw_card(v, '.' + data.name, 'playedcard');
	});
	overlap('.' + data.name + '> canvas', true);
	Round.count++;
	Round.score += create_select(data.play).Score();
	console.log('Round score: ' + Round.score);
	judge = data.judge;
	if (Round.count === 1) {
		Round.suit = create_select(data.play).Suit();
	}
	if (judge > 0) {
		Round.win = data.play;
		Round.winner = data.seat;
		Round.winnername = data.name;
		$('#thetrophy').remove();
		$('.t' + data.name).append('<img id="thetrophy" src="/static/images/trophy.jpg" alt="trophy" width="50px" height="50px">');
	}
	if (Round.count === 5) {
		if (Side.majority.length > 0) {
			if (Side.minority.indexOf(Round.winner) === -1) GameScore += Round.score;
			console.log('Game score: ' + GameScore);
			$('#score').text(GameScore);
		} else {
			Scores[Round.winner] += Round.score;
			console.log('Scores: ' + Scores);
			if (Round.winner !== Chair) {
				$('#tscore>td:nth-child(' + (parseInt(Round.winner) + 1) + ')').text(Scores[Round.winner]);
			}
		}
		if ($('.card').length === 0) {
			socket.emit('game end', {
				room: Room,
				win: Round.win,
				winner: Round.winner
			});
		} else {
			$('#message').text('Round winner is ' + Round.winnername);
			socket.emit('round end', {
				room: Room,
				winnerseat: Round.winner
			});
		}
		Round.win = null;
		Round.count = 0;
		Round.winner = null;
		Round.suit = null;
		Round.score = 0;
		$('#thetrophy').remove();
		$('#next').hide();
		$('.playedcard').fadeOut(8000, function() {
			$(this).remove();
		});
	}
});
//receive 'dump coming' signal from server, first see if allycard was played, if so, side is decided, show it on the #side area
//draw played cards in playedcard area
//Round.count and Round.score recorded, and judge updated
//if Round.count is 1, means round has just started, Round.dump is the origin play, Round.suit is the origin suit, set playtype to 'dump'
//if judge > 1, current play is a winplay, set Round.win to current play, record the winner seat and winner name, remove #trophy, draw new #trophy to the winner's playcardarea
//if Round.count is 5, means round is about to end, have to record score
//if side has already been decided (Side.majority.length>0), if majority has won the round, add round score to GameScore, and show it in #score area, if minority has won, score is ignored
//if side has not been decided, add round score to round winner's personal score table, unless round winner is chair, in that case the score will be ignored
//when round ends, reset all parameters, all played cards fadeout in 8 seconds, trophy and next buttons are hidden, waiting for the next round start
//if there is still cards left, emit 'round end' to server to start the next round, round winner will have his turn
//if there is no cards left, emit 'game end' to server to wrap up the game
socket.on('dump coming', function(data) {
	if (Side.majority.length === 0) {
		num = 0;
		data.play.forEach(function(v) { if (v === pick[1] + pick[2]) num++; });
		if (num > 0) {
			pick[0] -= num;
			if (pick[0] <= 0) {
				Side.minority.push(data.seat);
				['1','2','3','4','5'].forEach(function(v) { if (v !== Chair && v != data.seat) Side.majority.push(v); });
				Scores[data.seat] = 0;
				Side.majority.forEach(function(v) { GameScore += Scores[v]; });
				$('#score').text(GameScore);
				$('#message').text(data.name + ' has followed the chair');
				$('#side').text(data.name);
			}		
		}
	}
	data.play.forEach(function(v) {
		draw_card(v, '.' + data.name, 'playedcard');
	});
	overlap('.' + data.name + '> canvas', true);
	Round.count++;
	Round.score += create_select(data.play).Score();
	console.log('Round score: ' + Round.score);
	judge = data.judge;
	if (Round.count === 1) {
		Round.dump = data.play;
		Round.suit = create_select(data.play).Suit();
		playtype = 'dump';
	}
	if (judge > 0) {
		Round.win = data.play;
		Round.winner = data.seat;
		Round.winnername = data.name;
		$('#thetrophy').remove();
		$('.t' + data.name).append('<img id="thetrophy" src="/static/images/trophy.jpg" alt="trophy" width="50px" height="50px">');
	}
	if (Round.count === 5) {
		if (Side.majority.length > 0) {
			if (Side.minority.indexOf(Round.winner) === -1) {
                GameScore += Round.score;
            }
			console.log('Game score: ' + GameScore);
			$('#score').text(GameScore);
		} else {
			Scores[Round.winner] += Round.score;
			console.log('Scores: ' + Scores);
			if (Round.winner !== Chair) {
				$('#tscore>td:nth-child(' + (parseInt(Round.winner) + 1) + ')').text(Scores[Round.winner]);
			}
		}
		if ($('.card').length === 0) {
			socket.emit('game end', {
				room: Room,
				win: Round.win,
				winner: Round.winner
			});
		} else {
			$('#message').text('Round winner is ' + Round.winnername);
			socket.emit('round end', {
				room: Room,
				winnerseat: Round.winner
			});
		}
		Round.win = null;
		Round.count = 0;
		Round.winner = null;
		Round.suit = null;
		Round.dump = null;
		playtype = 'play';
		Round.score = 0;
		$('#thetrophy').remove();
		$('#next').hide();
		$('.playedcard').fadeOut(8000, function() {
			$(this).remove();
		});
	}
});
//receive 'got done'(all four of them) signal from server, everytime got done, dongcount++
//restcard represent test dump successful or fail. default false(successful). 
//when receive one data.restcard, if restcard is false, assign data.restcard to restcard
//if new restcard is still false, just wait for the next data.restcard coming
//when dongcount is 4, all data.restcards are received, if restcard is false means all of the data.restcards are false, means the testdump is a successful dump
//if testdump is successful, emit 'dump' to server, 
//if one data.restcard is not false, testdump is a fail dump
//if more than one data.restcards is not false, there is a way to determine which data.restcard is to assigned to restcard by using typeOrder
//if restcard's typeOrder is smaller than data.restcard's typeOrder, assign data.restcard to restcard, means small single is left first, than double and others
//a fail testdump means a automatically re-select, only restcard is left as a regular play to emit 'play' to server, rest back to cards
//when all done, reset dongcount to 0 and restcard to false
socket.on('got dong', function(data) {
	dongcount++;
	console.log('rest card' + restcard);
	console.log('dong count' + dongcount);
	if (restcard) {
		if (data.restcard) {
			var typeOrder = {'single': 1, 'double': 2, 'triple': 3, 'tractor': 4, 'tritractor': 5};
			if (typeOrder[create_select(restcard).Type()] > typeOrder[create_select(data.restcard).Type()]) {
				restcard = data.restcard;
			}
		}
	} else {
		restcard = data.restcard;
	}
	if (dongcount === 4) {
		if (restcard) {
			$('#message').text('DONG!');
			select = restcard;
			socket.emit('play', {
				room: Room,
				play: select,
				judge: judge,
				seat: Seat,
				name: Name
			});
			select.forEach(function(v) {
				$('.selected[value = ' + v + ']').first().remove();
			});
			$('.selected').removeClass('selected');
			restcard = false;
			overlap('.card');
		} else {
			$('#message').text('a successful dump');
			socket.emit('dump', {
				room: Room,
				play: select,
				judge: judge,
				seat: Seat,
				name: Name
			});
			$('.selected').remove();
			overlap('.card');
		}
		dongcount = 0;
	}
});
//receive 'show hiddens' from server, draw 7 hidden cards in the playcardzone, left every player see if it contains score cards
//if minority lose the final round, see if there is a jackport. if hiddens contains score, there is a jackport
//in the condition of jackport, hidden score will be double or multi-double, and added to GameScore
//if masterSuit if not false and masterValue is 'J', there is a chance the chair would be jacked
//1. minority lose final round; 2. final round winplay is single/double/triple masterSuit 'J'. if these two condition were met, chair is jacked, and his level will be droped to '2'
//according to GameScore, the game is judged which side is the winner and if the winner's level should get up and how many levels up
//according to game result, the next game's chair, masterValue, and levels is decided and emit to server as 'game result'
socket.on('show hiddens', function(data) {
	hiddens = data.hiddens;
	$('<div id="showhidden"></div>').insertBefore($('#hold'));
	hiddens.forEach(function(v) {
		draw_card(v, '#showhidden', 'hiddencard');
	});
	overlap('.hiddencard', true);
	if (Side.minority.indexOf(data.winner) === -1) {
		var H = create_select(hiddens);
		if (H.Score() > 0) {
			console.log('jackport');
			if (create_select(data.win).Type() === 'dump') GameScore += H.Score() * 2;
			if (create_select(data.win).Type() === 'single') GameScore += H.Score() * 2;
			if (create_select(data.win).Type() === 'double') GameScore += H.Score() * 4;
			if (create_select(data.win).Type() === 'triple') GameScore += H.Score() * 8;
			if (create_select(data.win).Type() === 'tractor') GameScore += H.Score() * 16;
			if (create_select(data.win).Type() === 'tritractor') GameScore += H.Score() * 32;
			console.log('final game score' + GameScore);
			$('#score').text(GameScore);
		}
		if (masterSuit && masterValue === 'J') {
			if (data.win === [masterSuit + 'J']) {
                jacked = true;
                Level[Side.minority[0]] = '2';
				console.log("Got single jacked");
			}
			if (data.win === [masterSuit + 'J', masterSuit + 'J']) {
                jacked = true;
                Level[Side.minority[0]] = '2';
				console.log("Got double jacked");
			}
			if (data.win === [masterSuit + 'J', masterSuit + 'J', masterSuit + 'J']) {
                jacked = true;
                Level[Side.minority[0]] = '2';
				console.log("Got triple jacked");
			}
		}
	}
	if (GameScore < 120) {
		console.log('minority win');
		$('#message').text('minority win');
		if (!jacked) {
			Level[Side.minority[0]] = level_up(Level[Side.minority[0]], GameScore, 'chair');
		}
		Level[Side.minority[1]] = level_up(Level[Side.minority[1]], GameScore, 'minority');
	} else {
		console.log('majority win');
		$('#message').text('majority win');
		Level[Side.majority[0]] = level_up(Level[Side.majority[0]], GameScore, 'majority');
		Level[Side.majority[1]] = level_up(Level[Side.majority[1]], GameScore, 'majority');
		Level[Side.majority[2]] = level_up(Level[Side.majority[2]], GameScore, 'majority');
		var nextChair = parseInt(Chair) + 1;
		if (nextChair > 5) {
			nextChair = nextChair % 5;
		}
		Chair = nextChair.toString();
		if (Side.minority[1] === Chair) {
			var nextChair = parseInt(Chair) + 1;
			if (nextChair > 5) {
				nextChair = nextChair % 5;
			}
			Chair = nextChair.toString();
		}
	}
	masterValue = Level[Chair];
	console.log('Level' + Level);
	console.log('Chair' + Chair);
	console.log('Value' + masterValue);
	socket.emit('game result', {
		room: Room,
		newLevel: Level,
		newChair: Chair,
		newMasterValue: masterValue
	});
});
//receive 'again' from server, add a #another button, focus, click on it will reset all parameters and start another game
//all parameters reset, emit 'again ready' to server
socket.on('again', function() {
	$('<button id="another">Next?</button>').insertBefore($('#hold'));
	$('#another').focus();
	$('#another').click(function() {
		$(this).remove();
		$('#hidden').html('');
		$('#hidden').remove();
		$('#showhidden').html('');
		$('#showhidden').remove();
		$('#showbottom').remove();
		$('#pick>span').empty();
		$('#picksuit').remove();
		$('#chair').empty();
		$('#side').empty();
		$('#mastersuit').empty();
		$('#mastervalue').empty();
		$('#score').empty();
		$('.play').empty();
		$('#timer').remove();
		socket.emit('again ready', {
			room: Room
		});
	});
});
//receive 'confirm' signal from server, if count reached 5 means all 5 players have confirmed, emit 'table full' to server to start the nexgt game, reset count to 0
socket.on('confirm', function() {
	$('#message').text('Wait for others to confirm next game');
	count++;
	if (count === 5) {
		socket.emit('table full', {
			name: Name,
			room: Room,
			seat: Seat
		});
		count = 0;
	}
})
</script>

</body>
</html>